<nav class="navbar navbar-expand-lg navbar-light" style="padding: 10px 70px;">
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: space-between;">
        <div>
            <a class="nav-link" href="/" style="color: #00add4;"><strong>ImpactoSEO</strong><span class="sr-only">(current)</span></a>
        </div>
        
        <div>
            <a class="navbar-brand" href="#">
                <img src="https://impactoseo.com/wp-content/uploads/2019/06/logo-impactoseo_561713e8ff0eeddc55de4d6978b042f8.png" width="30" height="30" class="d-inline-block align-top" alt="" style="width: 80px;
    height: auto;">
            </a>
            {{#if currentUser}}
                <a class="btn btn-primary btn-logout" href="/logout">Logout</a>
            {{/if}}
        </div>
    </div>
</nav>