<div style="padding-top: 20px;">
    <h4 style="text-align: center; color: #333333"><strong>RESPUESTAS</strong></h4>
    <hr>
</div>

<form action="/pdf">
    <div class="form-group">
        <div class="" style="display: none;">
            <select id="domain" name="domain" class="form-control">
                <option value="{{informe.url.name}}" selected></option>
            </select>
        </div>
        <div class="response row">
            <div class="col-3 title">
                <h4>URL</h4>
                <p>Óptimo menos de 70 caracteres</p>
            </div>
            <div class="col-9 description">
                <p>¿Está diseñada de manera amigable para una estrategia SEO? </p>
                <label for="url">{{informe.url.name}} ({{informe.url.numCharacters}} caracteres)</label>
                <select id="url" name="url" class="form-control">
                    <option value="si">Si</option>
                    <option value="no">Su URL coincide con el nombre de la marca a la que representa</option>
                    <option value="no potencial">No se está aprovechando el potencial de la URL</option>
                </select>
            </div>
        </div>
        <div class="response bg row" style="display: none;">
            <div class="col-3 title">
                <h4>CANONICAL</h4>
            </div>
            <div class="col-9 description">
                <p>¿Cumple las restricciones de Google?</p>
                <label for="canonical">{{informe.canonical}}</label>
                <select id="canonical" name="canonical" class="form-control">
                    <option value="bien">Bien</option>
                    <option value="regular">Regular</option>
                    <option value="mal">Mal</option>
                </select>  
            </div>
        </div>
        <div class="response bg row">
            <div class="col-3 title">
                <h4>TÍTULO</h4>
                <p>Óptimo entre 10 y 70 caracteres</p>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
                <label for="titulo"><strong>Título:</strong> {{informe.titulo.name}} ({{informe.titulo.numCharacters}} caracteres)</label>
                <select id="titulo" name="titulo" class="form-control">
                    <option value="si">Sí</option>
                    <option value="pero">Sí, pero puede mejorar</option>
                    <option value="no">No</option>
                </select>
                <p style="margin-top: 20px; margin-bottom: 10px;">¿Menciona el nombre del proyecto?</p>
                <input class="form-control" type="text" name="proyecto" id="proyecto" placeholder="Nombre del proyecto">
            </div>
        </div>
        <div class="response row">
            <div class="col-3 title">
                <h4>METADESCRIPCIÓN</h4>
                <p>Óptimo entre 160 y 300 caracteres</p>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
                <label for="metadescripcion"><strong>Metadescripción:</strong> {{informe.metadescripcion.name}} ({{informe.metadescripcion.numCharacters}} caracteres)</label>
                <select id="metadescripcion" name="metadescripcion" class="form-control">
                    <option value="si">Sí</option>
                    <option value="pero">Sí, pero se puede mejorar</option>
                    <option value="no">No</option>
                </select>  
            </div>
        </div>
        <div class="response row bg ">
            <div class="col-3 title">
                <h4>PALABRAS CLAVE</h4>
                <p>Óptimo menos de 6 palabras</p>
            </div>
            <div class="col-9 description">
                <p>¿Las palabras clave detectadas son afines a la estrategia?</p>
                <label for="palabrasClave"><strong>Palabras Clave: </strong>{{{informe.palabrasClave.palabrasClave}}} ({{informe.palabrasClave.numPC}} palabras)</label>
                <select id="palabrasClave" name="palabrasClave" class="form-control">
                    <option value="si">Sí, son óptimas</option>
                    <option value="afines">Sí, son afines</option>
                    <option value="no afines">No, los encabezados no son afines a la temática de la página</option>
                    <option value="generales">No, son demasiado generales</option>
                    <option value="inexistentes">No, inexistentes</option>
                </select>  
            </div>
        </div>
        <div class="response row">
            <div class="col-3 title">
                <h4>ENCABEZADOS</h4>
                <p>Óptimo un único H1 por página</p>
            </div>
            <div class="col-9 description">
                <p>¿Los encabezados detectados son afines a la estrategia?</p>
                <label for="encabezados">La página tiene H1({{informe.encabezados.h1.number}}), H2({{informe.encabezados.h2.number}}), H3({{informe.encabezados.h3.number}}), H4({{informe.encabezados.h4.number}}), H5({{informe.encabezados.h5.number}}), H6({{informe.encabezados.h6.number}})</label>
                <p class="btn-encabezados">
                    <a class="btn btn-primary" data-toggle="collapse" href="#encabezadoh1" role="button" aria-expanded="false" aria-controls="collapseExample">H1</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#encabezadoh2" role="button" aria-expanded="false" aria-controls="collapseExample">H2</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#encabezadoh3" role="button" aria-expanded="false" aria-controls="collapseExample">H3</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#encabezadoh4" role="button" aria-expanded="false" aria-controls="collapseExample">H4</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#encabezadoh5" role="button" aria-expanded="false" aria-controls="collapseExample">H5</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#encabezadoh6" role="button" aria-expanded="false" aria-controls="collapseExample">H6</a>
                </p>
                <div class="collapse h1-descripcion" id="encabezadoh1">
                    <div class="card card-body">
                        <h4 style="text-align: left; padding-top: 10px;">H1</h4>
                        {{#ifCond informe.encabezados.h1.number "==" 0}}
                        <label for="">- Esta web no tiene H1</label>
                        {{else}}
                            {{#each (limit informe.encabezados.h1.names 10)}}
                            <label>- {{this}}</label>
                            {{/each}}
                        {{/ifCond}}
                    </div>
                </div>
                <div class="collapse h1-descripcion" id="encabezadoh2">
                    <div class="card card-body">
                        <h4 style="text-align: left; padding-top: 10px;">H2</h4>
                        {{#ifCond informe.encabezados.h2.number "==" 0}}
                        <label for="">- Esta web no tiene H2</label>
                        {{else}}
                            {{#each (limit informe.encabezados.h2.names 10)}}
                            <label>- {{this}}</label>
                            {{/each}}
                        {{/ifCond}}
                    </div>
                </div>
                <div class="collapse h1-descripcion" id="encabezadoh3">
                    <div class="card card-body">
                        <h4 style="text-align: left; padding-top: 10px;">H3</h4>
                        {{#ifCond informe.encabezados.h3.number "==" 0}}
                        <label for="">- Esta web no tiene H3</label>
                        {{else}}
                            {{#each (limit informe.encabezados.h3.names 10)}}
                            <label>- {{this}}</label>
                            {{/each}}
                        {{/ifCond}}
                    </div>
                </div>
                <div class="collapse h1-descripcion" id="encabezadoh4">
                    <div class="card card-body">
                        <h4 style="text-align: left; padding-top: 10px;">H4</h4>
                        {{#ifCond informe.encabezados.h4.number "==" 0}}
                        <label for="">- Esta web no tiene H4</label>
                        {{else}}
                            {{#each (limit informe.encabezados.h4.names 10)}}
                            <label>- {{this}}</label>
                            {{/each}}
                        {{/ifCond}}
                    </div>
                </div>
                <div class="collapse h1-descripcion" id="encabezadoh5">
                    <div class="card card-body">
                        <h4 style="text-align: left; padding-top: 10px;">H5</h4>
                        {{#ifCond informe.encabezados.h5.number "==" 0}}
                        <label for="">- Esta web no tiene H5</label>
                        {{else}}
                            {{#each (limit informe.encabezados.h5.names 10)}}
                            <label>- {{this}}</label>
                            {{/each}}
                        {{/ifCond}}
                    </div>
                </div>
                <div class="collapse h1-descripcion" id="encabezadoh6">
                    <div class="card card-body">
                        <h4 style="text-align: left; padding-top: 10px;">H6</h4>
                        {{#ifCond informe.encabezados.h6.number "==" 0}}
                        <label for="">- Esta web no tiene H6</label>
                        {{else}}
                            {{#each (limit informe.encabezados.h6.names 10)}}
                            <label>- {{this}}</label>
                            {{/each}}
                        {{/ifCond}}
                    </div>
                </div>
                <select id="encabezados" name="encabezados" class="form-control">
                    <option value="si">Sí</option>
                    <option value="no afines">No, los encabezados no son afines a la temática de la página</option>
                    <option value="generales">No, son demasiado generales</option>
                    <option value="inexistentes">No, son inexistentes</option>
                </select>  
            </div>
        </div>
        <div class="response row bg">
            <div class="col-3 title">
                <h4>NÚMERO DE ALTS</h4> 
            </div>
            <div class="col-9 description">
                <p>¿Los Alts detectados son afines a la estrategia?</p>
                <label for="alt">Esta página tiene <strong>{{informe.alts.numImgs}}</strong> imágenes, de las cuales <strong>{{informe.alts.noAlts}}</strong> de ellas no tienen ALT</label>
                <select id="alt" name="alt" class="form-control">
                    <option value="si">Sí</option>
                    <option value="no afines">No, los Alts no son afines a la temática de la página</option>
                    <option value="inexistentes">No, son inexistentes</option>
                </select> 
            </div>
        </div>
        <div class="response row">
            <div class="col-3 title">
                <h4>RATIO</h4>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
                <label for="ratio">El ratio de texto es del: <strong>{{informe.ratio}}%</strong></label>
                <select id="ratio" name="ratio" class="form-control">
                    <option value="si">Sí</option>
                    <option value="bajo">No, demasiado bajo </option>
                    <option value="alto">No, demasiado alto </option>
                </select>
            </div>
        </div>
        <!--
        <div class="response row bg">
            <div class="col-3 title">
                <h4>MARCOS</h4>
                <p>Se debe evitar el uso de marcos</p>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
                <label for="marcos">Esta página <strong>{{informe.marcos}}</strong> tiene Marcos</label>
                <select id="marcos" name="marcos" class="form-control">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>  
            </div>
        </div>
        <div class="response row">
            <div class="col-3 title">
                <h4>SCHEMA</h4>
                <p>Usa schemas para aumentar tu visibilidad en los motores de busqueda</p>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
                <label for="esquema">{{informe.esquema}}</label>
                <select id="esquema" name="esquema" class="form-control">
                    <option value="bien">Bien</option>
                    <option value="regular">Regular</option>
                    <option value="mal">Mal</option>
                </select>  
            </div>
        </div>
        <div class="response row bg">
            <div class="col-3 title">
                <h4>IDIOMA</h4>
                <p>Declara el idioma en el código HTML de cada página.</p>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
                <label for="idioma">El idioma de la página es <strong>{{informe.idioma.name}}</strong> y está identificado como <strong>{{informe.idioma.type}}</strong></label>
                <select id="idioma" name="idioma" class="form-control">
                    <option value="si">Sí, apunta a es-Es</option>
                    <option value="diferente">No, el idioma detectado es diferente a lo recomendado</option>
                    <option value="inexistente">Inexistente</option>
                </select>  
            </div>
        </div> 
        <div class="response row">
            <div class="col-3 title">
                <h4>ROBOTS</h4>
                <p>Es importante tener este archivo .txt en tu página</p>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
                <label for="robots">Esta página <strong>{{informe.robots}}</strong> tiene Robots</label>
                <select id="robots" name="robots" class="form-control">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>  
            </div>
        </div> 
        <div class="response row bg">
            <div class="col-3 title">
                <h4>SITEMAPS</h4>
                <p>Es importante tener este archivo .txt en tu página</p>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
                <label for="sitemaps">Esta página <strong>{{informe.sitemaps}}</strong> tiene Sitemaps</label>
                <select id="sitemaps" name="sitemaps" class="form-control">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>  
            </div>
        </div> 
        <div class="response row">
            <div class="col-3 title">
                <h4>CODIFICACION</h4>
                <p>Con la codificación se fortalecerá considerablemente la SEO</p>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
                <label for="codificacion">La codificación es: <strong>{{informe.codificacion}}</strong></label>
                <select id="codificacion" name="codificacion" class="form-control">
                    <option value="bien">Bien</option>
                    <option value="regular">Regular</option>
                    <option value="mal">Mal</option>
                </select>  
            </div>
        </div>
        <div class="response row bg">
            <div class="col-3 title">
                <h4>GOOGLE ANALYTICS</h4>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
            <label for="analytics">Esta página <strong>{{informe.analytics}}</strong> tiene Google Analytics</label>
                <select id="analytics" name="analytics" class="form-control">
                    <option value="bien">Bien</option>
                    <option value="regular">Regular</option>
                    <option value="mal">Mal</option>
                </select>  
            </div>
        </div>
        <div class="response row">
            <div class="col-3 title">
                <h4>FAVICON</h4>
                <p>Ofrece una mejor experiencia a tus visitantes</p>
            </div>
            <div class="col-9 description">
                <p>¿Afín a la estrategia?</p>
                <label for="favicon">Esta página <strong>{{informe.favicon}}</strong> tiene Favicon</label>
                <select id="favicon" name="favicon" class="form-control">
                    <option value="bien">Bien</option>
                    <option value="regular">Regular</option>
                    <option value="mal">Mal</option>
                </select>  
            </div>
        </div> -->
    </div>
    <input class="btn btn-secondary" type="submit" style="background-color: #00add4; border-color:#00add4; margin: 30px auto; display: block;">
</form>