<div style="margin-top: 13%;">
    <div style="padding-top: 20px;">
        <h4 style="text-align: center; color: #333333"><strong>BÚSQUEDA</strong></h4>
        <hr style="margin-bottom: 40px;">
    </div>

    <form action="/form" method="POST" class="mb-3" autocomplete="off">
        <div class="form-row" style="justify-content: center;">
            <div class="col-7">
                <input name="url" type="url" class="form-control" id="url" placeholder="Enter URL" value="">
                <label for="url">Recuerda que la URL debe terminar en ' / '</label>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary my-3" style="background-color: #00add4; border-color:#00add4; margin: 30px auto; display: block;">Buscar</button>
    </form>
</div>
