<form action="/login" method="POST" class="form-login">
  <div class="form-group">
    <label for="exampleInputEmail1">Dirección de email</label>
    <input name="email" type="email" id="inputEmail" class="form-control {{#if error.email }}is-invalid{{/if}}" value="{{user.email}}"required autofocus>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input name="password" type="password" id="inputPassword" class="form-control {{#if error.password }}is-invalid{{/if}}" value="{{user.password}}" required>
  </div>
  <div class=".form-button">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>