<div class="bienvenidos">
  <h1>BIENVENIDO/A</h1>
  <p>Puedes registrarte rellenando los siguientes datos</p>
</div>

<div class="new-wrapper">
  <form class="form-new" action="/users/create" method="POST">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input name="name" type="text" class="form-control {{#if error.name }}is-invalid{{/if}}" id="name"
        value="{{ user.name }}">

      {{#if error.name}}
      <div class="invalid-feedback">
        {{error.name.message}}
      </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" type="email" class="form-control {{#if error.email }}is-invalid{{/if}}" id="email"
        value="{{ user.email }}">
    
      {{#if error.email}}
      <div class="invalid-feedback">
        {{error.email.message}}
      </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input name="password" type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password"
        value="{{ user.password }}">

      {{#if error.password}}
      <div class="invalid-feedback">
        {{error.password.message}}
      </div>
      {{/if}}
    </div>

    <div class="form-button">
      <button type="submit" class="btn btn-primary">
        Enviar
      </button>
    </div>
  </form>
</div>