<h1>{{informe.url.name}}</h1>
<h5>{{informe.titulo.name}}</h5>
<h5>{{respuesta.domain}}</h5>
<h5>{{respuesta.canonical}}</h5>

<h3>DATA</h3>
{{#ifCond informe.url.name "==" 'a'}}
<h5>Si</h5>
{{else}}
<h5>No</h5>
{{/ifCond}}

<H3>RESPUESTA</H3>
{{#if respuesta.proyecto}}
<h5>Si</h5>
{{else}}
<h5>No</h5>
{{/if}}
