p {
    font-size: 11px;
    text-align: justify !important;
    font-family: 'Montserrat', san-serif;
    font-weight: 400;
    line-height: 1.9em !important;
    color: #4e4e4e;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
}

h2 {
    font-family: 'Montserrat', 'Helvetica', san-serif;
    color: #00add4 !important;
    font-weight: 800;
}

.nopadding {
    padding: 0 !important;
}

.dominio {
    font-family: 'Libre Baskerville', serif;
    color: #919191 !important;
    font-size: 10px;
    font-style: italic !important;
}

.dominio.large {
    font-size: 15px;
}

.footer {
    background-color: #00add4;
}

.footer-row {
    display: flex; justify-content: space-around;
}

.footer-row p{
    color: white;
}

.second-cont {

}

.second-cont hr {
    border-top: 6px solid #00add4;
    margin-left: 0;
    margin-right: 0;
}

.navbar {
    display: none;
}

.container {
    padding:20px 30px;

}

.row {
    margin-left: 50px;
}

.row.title {
    margin-left: 100px;
}

.row.info {
    display: inline-block;
}

.row.h {
    display: -webkit-inline-box;
    margin-left: 0; 
}

.hs p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 264px;
    display: table-caption;
}

.encabezados {
border-bottom: 1px solid rgb(0,0,0,0.1);
padding: 0 0 20px;
margin: 0 140px 20px;
}

.encabezados {

} 

h4 {
font-family: 'Montserrat', 'Helvetica', san-serif;
font-weight: 800;
color: #00add4 !important;
}

.col-5.description {
padding-left: 40px;
}

.negative {
color: red;
float: right;
font-size: 28px;
font-weight: bold;
margin-bottom: 20px;
}

.positive {
color: green;
float: right;
font-size: 28px;
font-weight: bold;
margin-bottom: 20px; 
}

table, th, td {
border: 1px solid #f1f4f9;
border-collapse: collapse;
}
th, td {
padding: 5px;
text-align: center;    
}

th {
font-family: 'Montserrat', 'Helvetica', san-serif;
color: #00add4 !important;
font-weight: 800;
}

td {
font-size: 11px;
font-family: 'Montserrat', san-serif;
font-weight: 400;
line-height: 1.9em !important;
color: #4e4e4e;
}