.form-login {
    margin: 0 auto;
    width: 30%;
    margin-top: 70px;
}

.form-new {
    margin: 0 auto;
    width: 30%;
    margin-top: 40px;
}

.btn-primary {
    background-color: #00add4;
    border-color: #00add4;
}

.btn-primary:hover {
    background-color: #00bae4;
    border-color: #00bae4;
}

.btn-logout {
    margin-left: 30px;
    margin-top: 30px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.bienvenidos {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.bienvenidos h1 {
    font-family: 'Montserrat', 'Helvetica', san-serif;
    color: #00add4 !important;
    font-weight: 800;
    text-align: center !important;
}

.bienvenidos p {
    font-size: 13px;
    text-align: justify !important;
    font-family: 'Montserrat', san-serif;
    font-weight: 400;
    line-height: 1.9em !important;
    color: #4e4e4e;
    text-align: center !important;
}