
.row {
    display: flex;
    flex-direction: column;
    margin-right: 50px !important;
}

.form-group h4 {
    color: #00add4;
}

.response {
    padding: 40px 70px 50px;
    margin: 20px 0;
}

.response.bg {
    background-color: aliceblue;
}

label {
    font-family: 'Libre Baskerville', serif;
    color: #919191 !important;
    font-size: 15px;
    font-style: italic !important;
}
hr {
    border: 1px solid #00add4;
    margin: 10px 47%;
}

.response p {
    margin-bottom: 5px;
}


.response h4 {
    text-align: center;
    padding-top: 20px;
}

.col-3.title {
    border-right: 1px solid rgb(0, 0, 0, 0.1);
}

.col-3.title p {
    text-align: center;
    font-size: 13px;
}

.response.row {
    flex-direction: inherit;
}

.col-9.description {
    padding-left: 30px;
}

.btn-encabezados a {
    padding: .2rem 2.5rem;
    margin-bottom: 4px;
}

.h1-descripcion {
    margin-bottom: 10px;
}
